---
const {frontmatter} = Astro.props;
import styles from '../style.ts';
import Header from '../components/Header.astro' ;
---
<html lang="en" >
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="sandkasten" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>{frontmatter.title}</title>
	</head>
    
	<body class={styles.mainBackgroundRender}>
        <main class="">
            <Header />
            <!-- ... -->
            <h1>{frontmatter.title}</h1>
            <h2>Post author: {frontmatter.author}</h2>
            <p>{frontmatter.description}</p>
            <slot /> <!-- Markdown content is injected here -->
             <!-- ... -->
        </main>
	</body>
	<div class={`${styles.gradientTopCenter}`}></div> {/*Top-center gradient*/}
    <div class={`${styles.gradientTopLeft}`}></div> {/*Top-left gradient*/}
    <div class={`${styles.gradientBottomLeft}`}></div> {/*Bottom-left gradient*/}
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			#22A9D3,
			#8CAF40 30%,
			white 60%
		);
	}
	body {
	/*background-size: contain;*/
	}
	main {
		/*margin: auto;*/
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
		z-index: 10;
	}
	html {
		font-family: system-ui, sans-serif;

		color: rgb(var(--foreground-rgb));
		background: radial-gradient(at center, #0A0A21, #0F143A);
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>